<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="convendro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <convendro.Properties.Settings>
            <setting name="FFMPEGFilePath" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastUsedInputFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastUsedMediaIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastUsedOutputFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="mainFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="mainFormState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="mainFormSize" serializeAs="String">
                <value>700, 400</value>
            </setting>
            <setting name="fileListViewColumns" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastUsedPresetFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastUsedCommandDescriptionFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="MakeBackupsXMLFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlwaysConfirmStopConversion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastUsedMediaSetFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="PluginFolders" serializeAs="String">
                <value/>
            </setting>
        </convendro.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
